#OSX
#-------------------------------------------------------------------------------
.DS_STORE


#General
#-------------------------------------------------------------------------------
dist/
coverage/
public/
node_modules/
.vscode
.node-version